
.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.character{
  width: 350px;
  height: 240px;
  display: flex;
  margin:2%;
  align-items: center;
  border-radius: 20px;
  background: 
        linear-gradient(rgba(30,30,30,0.92), rgba(30,30,30,0.92)),
        url('/public/rickyymorty2.jpg') center/cover no-repeat;
    
   box-shadow: 0 8px 24px 0 rgba(0,0,0,0.3);
}
.character div{
  margin:10px;
}
.character p{
  margin: 0;
  padding: 5px;
}
.character h2{
  font-size: 1.1rem;  
  margin: 0;
  padding: 10px;
}
.character img{
  width: 60%;
  height: 230px;
  border-radius:10px 0px 0px 10px;
  object-fit: cover;
}

.character:hover{
    cursor: pointer;
    transform: perspective(1000px) rotateY(15deg);   
    transition: transform 0.2s ease-in-out;
}
.character-data{
    padding-right: 10px;
}

.character-location{
  font-size: 1.1rem;
}
