
.characters{
  display: flex;
  flex-wrap: wrap;
  margin: 0
}
.character{
  margin: 30px;
  width: 400px;
  height: 230px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #2c2c2c;
   box-shadow: 0 8px 24px 0 rgba(0,0,0,0.3);
}
.character div{
  margin-left: 20px;
}
.character p{
  margin: 0;
  padding: 5px;
}
.character h2{
  font-size: 1.2rem;  
  margin: 0;
}
.character img{
  width: 210px;
  height: 230px;
  border-radius:10px 0px 0px 10px;
  object-fit: cover;
}
.character span{
  color:#adadad
}
.character-location{
  font-size: 1.1rem;
}
.character:hover{
    cursor: pointer;
    scale: 0.9;
}
.character-data{
    padding-right: 10px;
}